@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    width: 98%;
    height: 900px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.profilsection {
    width: 23%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.profil {
    width: 100%;
    height: auto;
    border-radius: 20px;
    background-color: #000000;
    border: 1px solid #171717;
    cursor: pointer;
    box-shadow: 0px 10px 20px #000000;
    padding-bottom: 20px;
}

.bannprofil {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.infoprofil {
    display: flex;
    justify-content: center;
}
.nbfollower, .nbfollowing {
    line-height: 0;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.profilimg {
    width: 80px;
    height: 80px;
    border-radius: 23px;
    margin-top: -30px;
}

.nb {
    font-size: 19px;
    letter-spacing: -1px;
}

.name {
    color: grey;
    font-weight: 300;
    font-size: 14px;
}

.username {
    text-align: center;
    font-size: 20px;
    line-height: 0;
    margin-top: 30px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lienuser {
    text-align: center;
    margin-top: -5px;
    color: grey;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.presentationuser {
    text-align: center;
    margin-top: -5px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    font-size: 14px;
}

.trait {
    background-color: rgb(53, 53, 53);
    width: 90%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}

.btnvisit {
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: #ec1b3a;
    color: #FFFFFF;
    border: none;
    font-size: 15px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1px;
    border-radius: 10px;
    cursor: pointer;
}

.btnvisit:active {
    transform: scale(0.97);
}

.gossipsection{
    width: 54%;
}

.userlist {
    display: flex;
    overflow-x: scroll;
    gap: 1px;
    padding: 11px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.profilbd {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    line-height: 0;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc(12.5% - 10px);
    text-align: center;
    width: 120px; /* Ajuste la taille selon tes besoins */
    scroll-snap-align: start;
}

.userbdimg {
    width: 60px;
    height: 60px;
    border-radius: 23px;
    border: 3px solid rgb(27, 27, 27);
}

.userecent {
    width: 50px;
    height: 50px;
    border-radius: 23px;
    border: 3px solid rgb(27, 27, 27);
}

.userbd {
    font-size: 14px;
}

.formaccueil {
    width: 95%;
    height: 195px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #000000;
    border: 1px solid #171717;
    cursor: pointer;
    box-shadow: 0px 10px 20px #000000;
}

.recentsection {
    width: 23%;
}

.recentdiv{
    border-radius: 20px;
    background-color: #000000;
    border: 1px solid #171717;
    width: 100%;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    padding-top: 2px;
}

.titlerecent {
    margin-left: 20px;
    font-size: 18px;
    letter-spacing: -1px;
}

.profilimgform {
    width: 50px;
    height: 50px;
    border-radius: 23px;
    border: 3px solid rgb(27, 27, 27);
    margin-left: 20px;
}

.headerform {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.inputdiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titreinput {
    height: 35px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #222222;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    margin-top: 10px;
}

.textinput {
    height: 65px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #222222;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.4px;
    margin-top: 10px;
    color: #FFFFFF;
    padding-top: 10px;
}

.margin {
    margin-left: auto;
    width: 100px;
    margin-right: 20px;
    margin-top: -10px;
}

.btnform {
    background-color: #FFFFFF;
    text-decoration: none;
    color: #111111;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 10px;
    letter-spacing: -0.5px;
    width: 100px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.btnform:hover {
    box-shadow: 0px 10px 70px #FFFFFF;
}

.btnform:active {
    transform: scale(0.97);
}


.divderniers {
    width: 95%;
    height: 463px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #000000;
    border: 1px solid #171717;
    cursor: pointer;
    box-shadow: 0px 10px 20px #000000;
}

.headerderniers {
    width: 98%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 20px;
}

.infouserdernier {
    margin-left: 10px;
    margin-top: -10px;
}

.lienprofilderniers {
    color: grey;
    font-size: 14px;
    line-height: 0;
    display: flex;
    align-items: center;
}

.namederniers {
   margin-top: -23px;
   font-size: 17px;
   margin-left: 5px;
   display: flex;
   align-items: center;
}

.verif {
    width: 20px;
    margin-left: 5px;
}

.time {
    width: 7px;
    height: 7px;
    background-color: #f2e81f;
    box-shadow: 0px 0px 10px #f2e81f;
    border-radius: 20px;
    margin-left: 10px;
}

.infotime {
    color: #f2e81f;
    font-weight: 300;
    font-size: 14px;
    margin-left: 5px;
}

.contenuderniers {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    font-size: 15px;
}

.postthp {
    width: 90%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}











.menu {
    width: 50%;
    height: 45px;
    background-color: #000000;
    border: 1px solid #171717;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.lien {
    color: #FFFFFF;
    margin-left: 10px;
    text-decoration: none;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(123, 123, 123);
    letter-spacing: -1px;
}

.lien:nth-child(1) {
    color: #FFFFFF;
}

.lien:active {
    transform: scale(0.97);
}

h2 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-size: 110px;
    letter-spacing: -13px;
    font-style: normal;
    background: linear-gradient(30deg, #ffffff, #ffffff,#ffffff, #909090,#ffffff, #7e7e7e, #ffffff, #FFFFFF, #ffffff);
    -webkit-background-clip: text;
    color: transparent;
    line-height: 0.9;
    align-items: center;
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 10px;
}

.gossip-container {
    max-height: 700px; /* Ajuste la hauteur pour afficher seulement 4 gossips */
    overflow-y: auto; /* Active le défilement vertical */
  }
  

.gossiphome {
    background-color: #000000;
    border: 1px solid #171717;
    height: auto;
    padding-bottom: 10px;
    width: 95%;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
}


.gossippages {
    background-color: #000000;
    border: 1px solid #171717;
    width: 60%;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
}


.headergossip {
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    letter-spacing: -1px;
    align-items: center;
}



.userbdimgrecent {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-top: 5px;
}

.textgossip {
    color: #FFFFFF;
    text-decoration: none;
    text-decoration: none;
    font-size: 17px;
    background-color: #1A1A1A;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-left: 10px;
    padding-top: 10px;
    letter-spacing: -1px;
    padding-bottom: 10px;
    height: auto;
}

.infogossip {
    color: grey;
    text-decoration: none;
}

.btn {
    background-color: #FFFFFF;
    text-decoration: none;
    color: #111111;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 10px;
    letter-spacing: -0.5px;
    width: 80px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin-top: -5px;
}



.imgusertext {
    display: flex;
    align-items: center;
}

.idgossip {
    margin-right: 20px;
}

.city {
    color: grey;
    text-align: end;
    padding-right: 20px;
}

.title {
    margin-left: 50px;
    margin-top: 20px;
}

.imguser {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}






.btnnew {
    background-color: #FFFFFF;
    text-decoration: none;
    color: #111111;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 10px;
    letter-spacing: -1px;
}

.btnnew:active {
    transform: scale(0.97);
}

.plusimg {
   width: 20px;
   margin-left: 10px;
}

.commdiv {
    display: flex;
    margin-top: 7px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.comimg {
    width: 20px;
    margin-left: 20px;
    margin-right: 5px;
}

.comimgindex {
    width: 18px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 3px;
}

.align {
    display: flex;
    align-items: center;
    color: rgb(144, 144, 144);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: -1px;
}

.comminput {
    height: 35px;
    width: 90%;
    margin-left: 30px;
    background-color: #222222;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    margin-top: 10px;
}

input, textarea {
    outline: 0;
}

.tagtitle {
    letter-spacing: -1px;
}

.tag-row {
    display: flex;
    gap: 10px; /* Espace entre les tags */
    margin-bottom: 10px; /* Espace entre les lignes de tags */
  }
  
  .tag-item {
    flex: 1; /* Répartit les tags également dans la ligne */
    text-align: center; 
    border-radius: 10px;
    background-image: linear-gradient(#0C0C0C, #111111);
    border: 1px solid #222222;
    cursor: pointer;
    box-shadow: 0px 10px 20px #000000;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 110px;
    color: rgb(165, 165, 165);
    font-size: 14px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .tag-item:active {
    transform: scale(0.97);
  }
  
  .coeur {
    width: 20px;
  }



  .like {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     font-size: 12px;
     gap: 3px;
  }

  .likecomm {
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    padding-left: 10px;
  }


